<%=render 'nav' %>
<div class="container padding">
  <div class="row">
    <% @formats.each do |format| %>
      <div class="col-md-3">
        <div class="card">
          <img src="https://cdn2.iconfinder.com/data/icons/social-media-8/512/note3.png" alt="Card image top" class="card-img-top" width="100px">
          <div class="card-body">
            <h5 class="card-title text-center">
              <%= format.name %>
            </h5>
            <%= link_to "Download", rails_blob_path(format.document, disposition: "attachment"), class: "btn btn-primary btn-download" %>
          </div>
        </div>
      </div>
    <%end%>
  </div>  
</div>